<ion-header>
  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="type" (ionChange)="segmentChanged($event)" scrollable>        
      <ion-segment-button value="servicos">
        Serviços
      </ion-segment-button>
      <ion-segment-button value="salvos">
        Salvos
      </ion-segment-button>
      <ion-segment-button value="meus-servicos">
        Meus Serviços
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div [ngSwitch]="type">
    <div *ngSwitchCase="'servicos'" class="container-servicos">
      <ion-searchbar (ionInput)= "filterArray($event)" showCancelButton="never" class="search"></ion-searchbar>
      <ion-grid > 
        <ion-row>
          <ion-col  *ngFor="let item of arr">
            <ion-card (click)="modal()">
              <ion-card-header>
                <ion-card-title>{{item.name}}</ion-card-title>
              </ion-card-header>
              <img src = {{item.foto}} alt="eletricista">
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  
    <div *ngSwitchCase="'salvos'">
      <app-card></app-card>
    </div>
  
    <div *ngSwitchCase="'meus-servicos'">
      <div>
        <ion-fab slot="fixed" class="btn-add-servico">
          <ion-fab-button color="light" (click)="modal_meus_servicos()"><ion-icon name="add-outline"></ion-icon></ion-fab-button>
        </ion-fab>
      </div>
      <div>
        
        <ion-card>
          <ion-item>
            <ion-avatar>
              <img src="https://randomuser.me/api/portraits/women/2.jpg">
            </ion-avatar>
            <ion-label class="nome-card">Design UI/UX</ion-label>
          </ion-item>
          <ion-card-content>
            <p>
              Solicitações de contato:
            </p>
            <ion-chip>
              <ion-avatar>
                <img src="https://randomuser.me/api/portraits/men/54.jpg">
              </ion-avatar>
              <ion-label>Cauã Reis</ion-label>
              <ion-icon name="close-circle"></ion-icon>
            </ion-chip>
            <ion-chip>
              <ion-avatar>
                <img src="https://randomuser.me/api/portraits/women/47.jpg">
              </ion-avatar>
              <ion-label>Maria Eduarda Siqueira</ion-label>
              <ion-icon name="close-circle"></ion-icon>
            </ion-chip>
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-item>
            <ion-avatar>
              <img src="https://randomuser.me/api/portraits/women/2.jpg">
            </ion-avatar>
            <ion-label class="nome-card">Programação Mobile</ion-label>
          </ion-item>
          <ion-card-content>
            <p>
              Solicitações de contato:
            </p>
            <ion-chip>
              <ion-avatar>
                <img src="https://randomuser.me/api/portraits/women/30.jpg">
              </ion-avatar>
              <ion-label>Maitê Santos</ion-label>
              <ion-icon name="close-circle"></ion-icon>
            </ion-chip>
            <ion-chip>
              <ion-avatar>
                <img src="https://randomuser.me/api/portraits/men/12.jpg">
              </ion-avatar>
              <ion-label>Carlos Eduardo Rios</ion-label>
              <ion-icon name="close-circle"></ion-icon>
            </ion-chip>
            <ion-chip>
              <ion-avatar>
                <img src="https://randomuser.me/api/portraits/women/9.jpg">
              </ion-avatar>
              <ion-label>Luana Souza</ion-label>
              <ion-icon name="close-circle"></ion-icon>
            </ion-chip>
          </ion-card-content>
        </ion-card> 
      </div>
    </div>
    
  </div>
</ion-content>