.nome-card {
    padding-left: 4%;
    color: #6101a0;
    font-size: 20px;
}
.btn-add-servico {
    position: fixed !important;
    bottom: 10px;
    right: 10px;
}

ion-card {
    border: solid 1px #e0e0e0;
    box-shadow: 0 0 black;
    border-radius: 8px;
}

ion-card-title {
    text-align: center;
    color: #6101a0;
    font-size: 20px;
}

.search {
    --border-radius: 18px !important;
}

.container-servicos {
    margin-top: 10px;
}

ion-segment-button {
    --color-checked: #00c50e;
    font-weight: bold;
}
