<ion-header>
  <ion-toolbar styles="align-items: center;">
    <ion-row>
      <ion-col>
        <ion-title style="text-align: center;">
          <img src="https://fontmeme.com/permalink/201017/058a2db221f1170c437de574795ac702.png" class="logo-home">
        </ion-title>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content padding class="getstart">
  
  <ion-title class="titulo">Seu Endereço</ion-title>
  <ion-row>
    <ion-col>
      <ion-list inset>
        <ion-item>
          <ion-input placeholder="cep" type="text" #cep class='input'></ion-input>
        </ion-item>
        <ion-item>
          <ion-input placeholder="cidade" type="text" #cidade class='input'></ion-input>
        </ion-item>
        <ion-item>
          <ion-input placeholder="UF" type="text" #uf class='input'></ion-input>
        </ion-item>
        <ion-item>
          <ion-input placeholder="endereco" type="text" #endereco class='input'></ion-input>
        </ion-item>
        <ion-item>
          <ion-input placeholder="bairro" type="text" #bairo class='input'></ion-input>
        </ion-item>
        <ion-item>
          <ion-input placeholder="numero" type="text" #numero class='input'></ion-input>
        </ion-item>
        <ion-item>
          <ion-input placeholder="complemento" type="text" #complemento class='input'></ion-input>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class='col-btn'>
      <button ion-button class="btn-cadastrar" routerLink="/home">Salvar Endereço
      </button>
    </ion-col>
  </ion-row>
</ion-content>
