

<ion-content>
  <div class="perfil">
    <ion-avatar>
      <img src="https://randomuser.me/api/portraits/women/2.jpg"> 
    </ion-avatar>
  </div>

  <ion-card>
    <ion-card-header *ngFor="let users of users">
      <ion-card-title class="card-titulo">Meus dados</ion-card-title>
        <ion-card-title class="card-informacoes">Nome:<span> {{users.nome}}</span></ion-card-title>
        <ion-card-title class="card-informacoes">Contato:<span> 11967992255</span></ion-card-title>
        <ion-card-title class="card-informacoes">Data de Nascimento:<span> {{users.dt_nasc}}</span></ion-card-title>
        <ion-card-title class="card-informacoes">CPF:<span>{{users.cpf}}</span></ion-card-title>
        <ion-card-title class="card-informacoes">Email:<span>{{users.email}}</span></ion-card-title>
        <ion-card-title class="card-informacoes">Senha:<span> ******</span></ion-card-title>
    </ion-card-header>
  </ion-card>
  
  <ion-card>
    <ion-card-header>
      <ion-card-title class="card-titulo">Endereço</ion-card-title>
    </ion-card-header>
    <ion-card-content *ngFor="let users of users">
      <ion-fab  class="btn-edit-endereco" ><ion-fab-button color="light" routerLink="/cadastro-end"><ion-icon name="create-outline"></ion-icon></ion-fab-button></ion-fab>
      <ion-card-title class="card-informacoes">CEP: <span> {{users.cep}}</span></ion-card-title>
      <ion-card-title class="card-informacoes">Cidade:<span> {{users.cidade}}</span></ion-card-title>
      <ion-card-title class="card-informacoes">Endereço:<span> {{users.endereco}}</span></ion-card-title>
      <ion-card-title class="card-informacoes">Bairro:<span> {{users.bairro}}</span></ion-card-title>
      <ion-card-title class="card-informacoes">Numero:<span> {{users.numero}}</span></ion-card-title>
      <ion-card-title class="card-informacoes">Complemento:<span> {{users.complemento}}</span></ion-card-title>
      
    </ion-card-content>
  </ion-card>
 
</ion-content>
