.card-titulo{
    text-align: center;
    color: #6101a0;
    font-size: 24px;
    font-weight: 600;
    padding-top: 10px;
}

.card-informacoes{
    font-size: 19px; 
    font-weight: bold; 
    padding-bottom: 5px;
}

span{
    color: black;
    font-weight: lighter;
}

ion-avatar{
    width: 30%;
    height: 30%;
}
.perfil{
    padding:15px;
    display: flex;
    justify-content: center;
}