<ion-header>
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>

    <ion-card-header>
    </ion-card-header>
    <ion-card-title class="card-titulo">Meus dados</ion-card-title>
    <ion-avatar>
      
       
        <img src="https://randomuser.me/api/portraits/women/2.jpg"> 
     
    
    </ion-avatar>
    <p>
    <ion-card-title class="card-informacoes">Nome:</ion-card-title><ion-card-subtitle class="card-subtitle">Gabriela Ramos</ion-card-subtitle>
    <ion-card-title class="card-informacoes">Contato:</ion-card-title><ion-card-subtitle class="card-subtitle">11967992255</ion-card-subtitle>
    <ion-card-title class="card-informacoes">Data de Nascimento:</ion-card-title><ion-card-subtitle class="card-subtitle">29/10/1998</ion-card-subtitle>
    <ion-card-title class="card-informacoes">CPF:</ion-card-title><ion-card-subtitle class="card-subtitle">220.883.954-05</ion-card-subtitle>
    <ion-card-title class="card-informacoes">Email:</ion-card-title><ion-card-subtitle class="card-subtitle">gabriela.ramos@gmail.com</ion-card-subtitle>
    <ion-card-title class="card-informacoes">Senha:</ion-card-title><ion-card-subtitle class="card-subtitle">******</ion-card-subtitle>
  </p>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="card-titulo">Endereço</ion-card-title>
      <ion-card-title class="card-informacoes">CEP:</ion-card-title><ion-card-subtitle class="card-subtitle">02805000</ion-card-subtitle>
      <ion-card-title class="card-informacoes">Cidade:</ion-card-title><ion-card-subtitle class="card-subtitle">São Paulo</ion-card-subtitle>
      <ion-card-title class="card-informacoes">Endereço:</ion-card-title><ion-card-subtitle class="card-subtitle">Rua São João</ion-card-subtitle>
      <ion-card-title class="card-informacoes">Bairro:</ion-card-title><ion-card-subtitle class="card-subtitle">Campos Eliseos</ion-card-subtitle>
      <ion-card-title class="card-informacoes">Numero:</ion-card-title><ion-card-subtitle class="card-subtitle">845</ion-card-subtitle>
      <ion-card-title class="card-informacoes">Complemento:</ion-card-title><ion-card-subtitle class="card-subtitle">56</ion-card-subtitle>
    </ion-card-header>
  
   
  </ion-card>

</ion-content>
