<ion-card>
  <ion-item>
    <ion-avatar>
      <img src="https://randomuser.me/api/portraits/men/37.jpg">
    </ion-avatar>
    <ion-label>Mateus da Silva</ion-label>
  </ion-item>

  <ion-card-content>
    <ion-row>
      <ion-col>
        <p>
          Eletricista
        </p>
      </ion-col>
      <ion-col size="auto">
        <ion-button fill="outline" href="https://wa.me/WhatsAppNumber?text=Hello%20World"><ion-icon name="logo-whatsapp"></ion-icon></ion-button>
      </ion-col>
    </ion-row>  
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-item>
    <ion-avatar>
      <img src="https://randomuser.me/api/portraits/women/60.jpg">
    </ion-avatar>
    <ion-label>Luiza Fernandes</ion-label>
  </ion-item>

  <ion-card-content>
    <ion-row>
      <ion-col>
        <p>
          Eletricista
        </p>
      </ion-col>
      <ion-col size="auto">
        <ion-button fill="outline" ><ion-icon name="logo-whatsapp"></ion-icon></ion-button>
      </ion-col>
    </ion-row>  
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-item>
    <ion-avatar>
      <img src="https://randomuser.me/api/portraits/men/58.jpg">
    </ion-avatar>
    <ion-label>Felipe Cardoso</ion-label>
  </ion-item>

  <ion-card-content>
    <ion-row>
      <ion-col>
        <p>
          Eletricista
        </p>
      </ion-col>
      <ion-col size="auto">
        <ion-button fill="outline" ><ion-icon name="logo-whatsapp"></ion-icon></ion-button>
      </ion-col>
    </ion-row>  

  </ion-card-content>
</ion-card>