ion-card{
    border: solid 1px #e0e0e0;
    box-shadow: 0 0 black;
    border-radius: 8px;
}
ion-label{
    padding-left: 4%;
    color: #6101a0!important;
    font-size: 20px!important;
   
}

ion-button{
    color: #4DE320;
    --border-color: #4DE320;
}

h3{
    color: #4DE320;
    font-size: 20px!important;
}