<ion-card>
  <ion-item>
    <ion-avatar>
      <img src="https://randomuser.me/api/portraits/men/37.jpg">
    </ion-avatar>
    <ion-label>Mateus</ion-label>
  </ion-item>

  <ion-card-content>
    <p>
      Desenvolvimento web e mobile
    </p>

    <ion-button fill="outline" slot="end"><ion-icon name="logo-whatsapp"></ion-icon></ion-button>

  </ion-card-content>
</ion-card>

<ion-card>
  <ion-item>
    <ion-avatar>
      <img src="https://randomuser.me/api/portraits/women/60.jpg">
    </ion-avatar>
    <ion-label>Luiza</ion-label>
  </ion-item>

  <ion-card-content>
    <p>
      Design UI/UX
    </p>

    <ion-button fill="outline" slot="end"><ion-icon name="logo-whatsapp"></ion-icon></ion-button>

  </ion-card-content>
</ion-card>

<ion-card>
  <ion-item>
    <ion-avatar>
      <img src="https://randomuser.me/api/portraits/men/58.jpg">
    </ion-avatar>
    <ion-label>Felipe</ion-label>
  </ion-item>

  <ion-card-content>
    <p>
      Serviços elétricos
    </p>

    <ion-button fill="outline" slot="end"><ion-icon name="logo-whatsapp"></ion-icon></ion-button>

  </ion-card-content>
</ion-card>