<ion-header>
  <ion-toolbar styles="align-items: center;">
    <ion-row>
      <ion-col>
        <ion-title style="text-align: center;">
          <img src="https://fontmeme.com/permalink/201017/058a2db221f1170c437de574795ac702.png" class="logo-home">
        </ion-title>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content padding class="getstart">
  <ion-title class="titulo">Cadastro</ion-title>
  <form [formGroup]="cadastroForm" (ngSubmit)="onSignup()">
    <ion-row>
      <ion-col>
        <ion-list inset>
          <ion-item>
            <ion-input placeholder="Nome" type="text" #nome class='input' formControlName="nome"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input placeholder="Data de Nascimento" type="date" #data class='input' formControlName="dt_nasc"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input placeholder="CPF" type="text" #cpf class='input' formControlName="cpf" [brmasker]="{mask:'000.000.000-00', len:14, type:'num'}" ></ion-input>
          </ion-item> 
          <ion-item>
            <ion-input placeholder="E-mail" type="text" #mail class='input' formControlName="email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input formControlName="password" placeholder="Senha" class='input' name="password" type="password" [type]="passwordType" clearOnEdit="false"
              required>
            </ion-input>
            <ion-icon [name]="passwordIcon" slot="end" (click)='hideShowPassword()' style="margin: 10px; color: #000;"></ion-icon>
          </ion-item>

          <ion-item>
            <ion-input placeholder="CEP" type="text" #cep class='input' formControlName="cep" [brmasker]="{mask:'00000-000', len:9, type:'num'}" ></ion-input>
          </ion-item>
          <ion-item>
            <ion-input placeholder="Cidade" type="text" #cidade class='input' formControlName="cidade"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input placeholder="UF" maxlength="2" type="text" #uf class='input' formControlName="uf"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input placeholder="Endereço" type="text" #endereco class='input' formControlName="endereco"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input placeholder="Bairro" type="text" #bairo class='input' formControlName="bairro"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input placeholder="Número" type="text" #numero class='input' formControlName="numero"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input placeholder="Complemento" type="text" #complemento class='input' formControlName="complemento"></ion-input>
          </ion-item>

        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class='col-btn'>
        <button class="btn-cadastrar" type="submit" expand="block">Cadastrar</button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
