<ion-header>
  <ion-toolbar styles="align-items: center;">
    <ion-row>
      <ion-col>
        <ion-title style="text-align: center;">
          <img src="https://fontmeme.com/permalink/201017/058a2db221f1170c437de574795ac702.png" class="logo-home">
        </ion-title>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content padding class="getstart">
  <ion-title class="titulo">Cadastro</ion-title>
  <ion-row>
    <ion-col>
      <ion-list inset>
        <ion-item>
          <ion-input placeholder="nome" type="text" #nome class='input'></ion-input>
        </ion-item>
        <ion-item>
          <ion-input placeholder="data de nascimento" type="data" #data class='input'></ion-input>
        </ion-item>
        <ion-item>
          <ion-input placeholder="cpf" type="text" #cpf class='input'></ion-input>
        </ion-item>
        <ion-item>
          <ion-input placeholder="e-mail" type="text" #mail class='input'></ion-input>
        </ion-item>
        <ion-item>
          <ion-input placeholder="senha" type="password" #password class='input'></ion-input>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class='col-btn'>
      <button ion-button class="btn-cadastrar" routerLink="/cadastro-end">Cadastre-se
      </button>
    </ion-col>
  </ion-row>
</ion-content>
