/*ion-content {
    --background: url('/src/assets/imagens/bk-login.jpg') no-repeat center/cover fixed;
}*/
.background{
    background: url('/src/assets/img/bk_login.png') no-repeat;
    background-size: cover;
}
//ion-content {
  //  --background: #ffff00 url('/src/assets/img/bk-login.png') no-repeat center center / cover !important;
//}


.btn-login {
font-family: Nunito;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 33px;
text-align: center;

color: #7706C3;

position: relative;
margin: auto;
width: 153px;
height: 50px;
left: 129px;
top: 320px;

background: #41EB4D;
border: 1px solid #000000;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;
}

.btn-cadastro{
font-family: Nunito;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 33px;
text-align: center;

color: #7706C3;

position: relative;
margin: auto;
width: 153px;
height: 50px;
left: 129px;
top: 400px;

background: #41EB4D;
border: 1px solid #000000;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;
}


