.background-image {

  --background: url('../../assets/img/bk_login.png') white -70px 0/125% 110% no-repeat;

}

.btn-grad {
  --background: linear-gradient(to right, #1FA2FF 0%, #12D8FA 51%, #1FA2FF 100%);
  --border-radius: 60px;
  border-radius: 80px;
}
.btn-grad:hover {
  --background-position: right center;
}

.btn-grad-orange {
  --background: linear-gradient(to right, #ff7e5f 0%, #feb47b 51%, #ff7e5f 100%);
  --border-radius: 60px;
  border-radius: 80px;
}
.btn-grad-orange:hover {
  background-position: right center;
}

.login-logo {
  padding: 30% 0 0 0;
  min-height: 200px;
  text-align: center;
}

.login-logo img {
  margin-top: 10px;
  max-width: 240px;
}

.list {
  margin-bottom: 0;
}