<ion-card *ngFor="let s of servicos" (click)="modalDetalhes(s)" button>
  <ion-item>
    <ion-avatar>
      <img src="https://randomuser.me/api/portraits/women/2.jpg">
    </ion-avatar>
    <ion-label class="nome-card">{{s.nome}}</ion-label>
    <ion-col size="auto">
      <ion-button fill="clear" (click)="deletar(s)">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-item>
  <ion-card-content>
    <p>
      Solicitações de contato:
    </p>
    <ion-chip>
      <ion-avatar>
        <img src="https://randomuser.me/api/portraits/men/54.jpg">
      </ion-avatar>
      <ion-label>Cauã Reis</ion-label>
      <ion-icon name="close-circle"></ion-icon>
    </ion-chip>
    <ion-chip>
      <ion-avatar>
        <img src="https://randomuser.me/api/portraits/women/47.jpg">
      </ion-avatar>
      <ion-label>Maria Eduarda Siqueira</ion-label>
      <ion-icon name="close-circle"></ion-icon>
    </ion-chip>
  </ion-card-content>
</ion-card> 