<ion-header [translucent]="true">
  <ion-toolbar styles="align-items: center;">
    <ion-row>
          <ion-icon name="close-outline" (click)="closeModal()" class='icon-fechar'></ion-icon>
    </ion-row>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-title class="card-titulo">Adicione um Novo Serviço</ion-card-title>
    <div class="form">
      <p>
      <ion-input placeholder="Categoria" class='input'></ion-input>
      <ion-input placeholder="Nome Serviço" class='input'></ion-input>
      <ion-input placeholder="Contato" class='input'></ion-input>
      <ion-textarea placeholder="Descrição" class='input' rows='20'></ion-textarea>
    
      <ion-button (click)="closeModal()" class="btn">Cadastrar Serviço</ion-button>
      </p>
  </div>
  </ion-card>
</ion-content>

