.setting-modal .modal-wrapper {
  height: 20%;
  top: 80%;
  position: absolute; 
  display: block;  
}

.card-titulo{
  text-align: center;
  font-size: 26px;
}

.input{
  border-color: black!important
}