<ion-content [fullscreen]="true">
  <ion-card>

    <ion-card-header>
    </ion-card-header>
    <ion-card-title class="card-titulo">Adicione um novo serviço</ion-card-title>
    <p>
    <ion-input placeholder="Categoria" class='input'></ion-input>
    <ion-input placeholder="Nome Serviço"></ion-input>
    <ion-input placeholder="Contato"></ion-input>
    <ion-input placeholder="Descrição"></ion-input>
    <ion-item>
      <ion-label position="floating">Descrição</ion-label>
      <ion-textarea></ion-textarea>
    </ion-item>
  </p>
  <ion-button expand="full" (click)="closeModal()">Full Button</ion-button>
  </ion-card>
  
</ion-content>

