<ion-header [translucent]="true">
  <ion-toolbar styles="align-items: center;">
    <ion-row>
          <ion-icon name="close-outline" (click)="closeModal()" class='icon-fechar'></ion-icon>
    </ion-row>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div>
    <ion-card-title class="card-titulo">Serviço</ion-card-title>
    <form [formGroup]="editaServicoForm" (ngSubmit)="formSalvar()" class="form">
      <ion-input [(ngModel)]="servico.categoria" formControlName="categoria" type='text' class='input'></ion-input>
      <ion-input [(ngModel)]="servico.nome" formControlName="nome" type='text' class='input'></ion-input>
      <ion-input [(ngModel)]="servico.contato" formControlName="contato"type='tel' class='input'></ion-input>
      <ion-textarea [(ngModel)]="servico.descricao" formControlName="descricao" type='text' class='input' rows='20'></ion-textarea>
    
      <ion-button (click)="closeModal()" type = "submit" class="btn">Salvar alterações</ion-button>
    </form>
  </div>
</ion-content>

